.navbar{
    background-color: rgb(30 , 30 , 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.dektopMenuListItem{
    margin: 1rem;
    cursor: pointer;

}
.dektopMenuListItem:hover{
    /* color: yellow; */
    color: rgb(255, 0, 132);;
    padding-bottom: 0.5rem;
    /* border-bottom: 2px solid yellow; */
    border-bottom: 2px solid rgb(255, 0, 132);;

}
.desktopMenuBtn{
    background: white;
    color: black;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

@media screen and (max-width:480px) {
    .logo{
        width: 25px;
        height: 25px;
    }
    .dektopMenuListItem{
        font-size: 3vw;
    }
    .desktopMenuBtn{
        width: 18vw;
        height: 2.8vh;
        font-size: 2.7vw;
    }
    .desktopMenuImg{
        width: 10px;
        height: 10px;
    }
}